.containerSelect{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.containerSelect select{
    border-radius: 6px;
    padding: 10px;
    outline: none;
    border: 2px solid black;
}